backend/go.sum
backend/.env
frotend/.DS_Store
frotend/node_modules
frotend/build
frotend/dist
frotend/.svelte-kit
frotend/package
frotend/.env
frotend/.env.*
frotend/!.env.example
frotend/vite.config.js.timestamp-*
frotend/vite.config.ts.timestamp-*
frotend/